.chartsModule{
    display: flex;
    align-items: center;
    width: 100vw;
    flex-wrap: wrap;
    justify-content: center;
}


#chartSex {
    width: 400px;
    margin: 50px;

  }

#chartEthnicity {
    width: 900px;
    margin: 50px;
}


#chartGeo{ 
    width: 600px;
    margin: 50px;
}

#apexcharts3avqrkqj{
    width: 900px !important;
  
}

#SvgjsSvg1043{
    width: 900px !important;
}

#SvgjsText5832{
    margin-bottom: 16px;
}

#chartSex{
   height: 300px ;
   display: flex;
   justify-content: center;
   align-items: center;
}

#chartDiseases{
    width: 1000px;
   
}
