.resultsIndividuals{
    display: flex;
    margin: 40px;
    border: 3px ridge rgb(60, 145, 214);
    padding: 10px;
    width: 30vw;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    flex-direction: column;
}

h1{
    font-size: 12px;
}

h2{
    font-size: 14px;
    color: rgba(55, 51, 51, 0.606);
}


h3{
    color: #c11524;
    text-transform: uppercase;
}

.p1{
   
    text-transform: uppercase;
    color: #c11524;
    line-height: 23px;
    font-size: 18px;
    font-weight: bold;

}

.results{
    flex-wrap: wrap;
    justify-content: center;
}

.typeResults{
    width: fit-content;
    margin:10px;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    background: white;
    cursor: pointer;
}

.resultsContainer{
    display: flex;
    justify-content: center;
}

.selectedGranularity{
display: flex;
justify-content: center;
}
