.resultsIndividuals {
    display: flex;
    margin: 40px;
    padding: 10px;
    /* width: 30vw; */
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    flex-direction: row;

}

.resultsIndividuals div {
    margin: 20px;
}

.diseasesContainer{
    margin: 0px !important;
}

.measuresContainer {
    display: flex;
}

.measures {
    margin: 20px;
}

h1 {
    font-size: 12px;
}

h2 {
    font-size: 14px;
    color: #0f6fb8;
}


h3 {
    color: #c11524;
    text-transform: uppercase;
}

h4 {
    font-size: 12px;
    color: rgba(12, 16, 64, 0.606);
}

<<<<<<< HEAD
<<<<<<< HEAD
h3{
    color: #c11524;
    text-transform: uppercase;
=======
.selectGranularity button:hover {
    color: #0f6fb8;
>>>>>>> fd17b7ffa5f8b77461f9a808437dcc13a5a978b0
=======
.selectGranularity button:hover {
    color: #0f6fb8;
>>>>>>> c0195f3f78eaf95362a89d2fbb04113a4d83d900
}

.p1 {

    text-transform: uppercase;
    color: #c11524;
    line-height: 23px;
    font-size: 18px;
    font-weight: bold;

}

.results {
    flex-wrap: wrap;
    justify-content: center;
}

.typeResults {
    width: fit-content;
    margin: 10px;
    border: none;
    font-size: 16px;
    text-decoration: underline;
    background: white;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
.resultsContainer{
=======
.resultsContainer {
>>>>>>> fd17b7ffa5f8b77461f9a808437dcc13a5a978b0
=======
.resultsContainer {
>>>>>>> c0195f3f78eaf95362a89d2fbb04113a4d83d900
    display: flex;
    justify-content: center;
}

<<<<<<< HEAD
<<<<<<< HEAD
.selectGranularity{
display: flex;
justify-content: center;
}
=======
.selectGranularity {
    display: flex;
    justify-content: center;
}
>>>>>>> fd17b7ffa5f8b77461f9a808437dcc13a5a978b0
=======
.selectGranularity {
    display: flex;
    justify-content: center;
}
>>>>>>> c0195f3f78eaf95362a89d2fbb04113a4d83d900
