html {
  margin: 0px !important;
  height: 100vh;
  background: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.searchButton {
  padding-right: 4px;
  padding-left: 4px;
  padding-top: 3px;
  height: 38px; 
  background: white;
  border: 2px solid #c11524;
  box-shadow: 6px 5px 5px #a3a0a0;
  cursor: pointer;
  margin-left: 26px;
  width: 39px;
}

.searchButton:hover {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
}

#value{
  margin-left: 12px;
}

#grouped-native-select{
  height: 20px;
}
.container-fluid {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}


.form-select {
  height: 40px;
  width: 25%;
  margin-right: 3px;
  cursor: pointer;
}

.form-select2 {
  height: 34px;
  margin-right: 3px;
  cursor: pointer;
  margin: 10px;
  margin-right: 30px;
  width: 89px;
}

.d-flex {
  display: flex;
}

.formSearch {
  height: 40px;
  width: 60vw;
  margin-right: 3px;
  background: white;
  border: 2px solid #c11524;
  font-size: large;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
}

.searchIcon {
  height: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.alphanumContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.alphanumContainer2 {
  display: flex;
  justify-content: center;
  align-items: center;
}


.cinecaLogo {

  padding-bottom: 58px;
  width: 90%;
  align-items: center;
  margin-top: 68px;

}

select {
  background: white;
  border: 2px solid #c11524;
  font-size: large;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
}


.results {
  display: flex;
}

hr {
  width: 75vw;
  margin-top: 36px;
  margin-bottom: 36px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.exampleQueries {
  border: none;
  background-color: #ffffff;
  color: #4d4b4b;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
}

.exampleQuery:hover {
  color: #4fb5f0;
}

.exampleQueries:hover {
  color: #4fb5f0;
}


.bulbLogo {
  height: 18px;
  margin-right: 10px;
}

.additionalOptions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.example {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  margin: 32px;
}

.container1 a {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35%;
}

.exampleQuery {
  border: none;
  /* border-color: #5454bc; */
  padding: 5px;
  cursor: pointer;
}

#exampleQueries {
  border: none;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
}

.advSearch {
  width: fit-content;
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  padding: 10px;
  box-shadow: 0px 2px 3px #a3a0a0;
  border-radius: 3px;
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
  height: 50%;
}

.advSearch:hover {
  background: #86d2ff;
}


.advSearchModule {
  display: flex;
  width: 100%;
  flex-direction: column;
}


.resultset {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
}


.IdForm {
  background: white;
  border: 2px solid #c11524;
  margin: 20px;
  padding: 6px;
  box-shadow: 6px 5px 5px #a3a0a0;
  width: 20%;
  height: 20px;
}


.ValueForm {
  background: white;
  border: 2px solid #c11524;
  margin: 20px;
  padding: 6px;
  box-shadow: 6px 5px 5px #a3a0a0;
  width: 20%;
  height: 20px;

}

.advSearchForm {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
}

#operator{
  margin-right: 8px;
  margin-left: 10px;
}

.returnBasic {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
    border: none;
    margin-top: 42px;
    padding-right: 19px;
    padding-left: 19px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 2px 3px #a3a0a0;
    border-radius: 3px;
    font-feature-settings: "pcap", "c2pc";
    font-variant: all-petite-caps;
    font-size: 19px;
    cursor: pointer;
}

.returnBasic:hover {
  background: #86d2ff;
}

.filters {
  padding: 4px;
  cursor: pointer;
}

.filters:hover {

  color: #4fb5f0;
}


@media (max-width: 800px) {

  .container1 a {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70%;
  }

  .formSearch {
    height: 35px;
  }

  .form-select {
    height: 30px;
  }

  .searchButton {
    height: 30px;
    cursor: pointer;
  }


}