html {
  margin: 0px !important;
  height: 100vh;
  background: #ffffff;
}

#root {
  width: 100vw;
  height: 100vh;
  background: #ffffff;
}

.App {
  background: #ffffff;
  height: 100vh;
}

.searchButton {
  height: 40px;
  background: white;
  border: 2px solid ;
  box-shadow: 6px 5px 5px #a3a0a0;
  cursor: pointer;
}

.searchButton:hover {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
}

.searchButton2 {
  margin-left: 93%;
  height: 40px;
  border-radius: 2px;
  background: white;
  border: 2px solid ;
  box-shadow: 6px 5px 5px #a3a0a0;
  cursor: pointer;
  margin-top: 30px;
}

.searchButton2:hover{
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
}

.container-fluid {
  display: flex;
  width: 100%;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
}


.form-select {
  height: 40px;
  width: 25%;
  margin-right: 3px;
  cursor: pointer;
}

.form-select2 {
  height: 40px;
  margin-right: 3px;
  cursor: pointer;
  margin: 10px;
  margin-right: 30px;
}

.d-flex {
  display: flex;
}

.formSearch {
  height: 40px;
  width: 60vw;
  margin-right: 3px;
  background: white;
  border: 2px solid #c11524;
  font-size: large;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
}

.searchIcon {
  height: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.container1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap
}

.cinecaLogo {
  padding-top: 40px;
  padding-bottom: 40px;
  width: 100%;
  align-items: center;
}

select {
  background: white;
  border: 2px solid #c11524;
  font-size: large;
  border-radius: 2px;
  box-shadow: 6px 5px 5px #a3a0a0;
}


.results {
  display: flex;
}

hr {
  width: 75vw;
  margin: 43px;
}

.exampleQueries {
  border: none;
  background-color: #ffffff;
  color: #4d4b4b;
  font-size: 14px;
  cursor: pointer;
}

.exampleQueries:hover {
  color: #4fb5f0;
}



.bulbLogo {
  height: 18px;
}



.example {
  display: flex;
  margin-top: 18px;
  align-items: center;
}

.container1 a {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 35%;
}

.exampleQuery {
  border: none;
  /* border-color: #5454bc; */
  padding: 5px;
  cursor: pointer;
}

#exampleQueries {
  border: none;
  width: fit-content;
  margin: 5px;
  cursor: pointer;
}

.advSearch {
  width: fit-content;
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  margin-top: 83px;
  padding: 12px;
  box-shadow: 0px 2px 3px #a3a0a0;
  border-radius: 3px;
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
}

.advSearch:hover {
  background: #86d2ff;
}

.advSearchModule {
  margin: 20px;
}

.skipForm {
  background: white;
  border: 2px solid #c11524;
  margin: 20px;
  padding: 10px;
  box-shadow: 6px 5px 5px #a3a0a0;
}

.limitForm {
  background: white;
  border: 2px solid #c11524;
  margin: 20px;
  padding: 10px;
  box-shadow: 6px 5px 5px #a3a0a0;
}

.advSearchForm {
  display: flex;
  margin-top: 45px;
  align-items: center;
  flex-direction: column;
}

.returnBasic {
  background: linear-gradient(356deg, #6ac5ff 50%, #86d2ff 80%);
  border: none;
  margin-top: 83px;
  padding: 12px;
  box-shadow: 0px 2px 3px #a3a0a0;
  border-radius: 3px;
  font-variant: all-petite-caps;
  font-size: 17px;
  cursor: pointer;
}

.returnBasic:hover {
  background: #86d2ff;
}



@media (max-width: 800px) {

  .container1 a {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 70%;
  }

  .formSearch {
    height: 35px;
  }

  .form-select {
    height: 35px;
  }

  .searchButton {
    height: 35px;
    cursor: pointer;
  }


}